<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('html-loader!./layout/html-common.html') %>
        <title><%= htmlWebpackPlugin.options.title%> - BGLMall电商平台</title>
    </head>
    <body>
        <%= require('html-loader!./layout/nav.html') %>
        <%= require('html-loader!./layout/header.html') %>
        <div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a href="./index.html" class="link">BGLMall</a>
                    <span>></span>
                    <span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
                </div>
            </div>
        </div>
        <div class="page-wrap w">
            <div class="panel">
                <div class="panel-title">欢迎来到BGLMall</div>
                <div class="panel-body">
                    <div class="intro">
                        <p class="text-line">关于作者:</p>
                        <p class="text-detail">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            一个通往架构师之路的Java菜鸟！四年+开发经验，即将毕业之际南下深圳漂泊三年后
                            回到长沙一年+。涉及过银行，基金（证券），电商，医疗等行业。
                            目前在一家医疗创业公司从事有关技术的各种打杂工作。<br/><br/>
                            关键词：重度代码洁癖患者、喜欢钻研新技术、尽量让复杂的东西简单化
                        </p>
                    </div>
                    <div class="intro">
                        <p class="text-line">本项目技术栈: 前后端完全分离</p>
                        <p class="text-detail">
                            后端：JDK1.8、Spring、Spring MVC、Mybatis、PageHelper、MySQL、Vsftpd、Tomcat、
                            Nginx、Redis、Guava、Jackson、Jodatime等
                        </p>
                        <p class="text-detail">
                            前端：CommonJS、Webpack、Html、CSS、JQuery、React、hogan等
                        </p>
                    </div>
                    <div class="intro">
                        <p class="text-line">关于本网站:</p>
                        <p class="text-detail">
                            目前项目处于一期阶段，一期的技术和功能实现都比较简单，只是想综合自己会的一点雕虫小技
                            做点东西玩玩，也是希望通过该项目能巩固和提升自身的技术能力！
                        </p>
                        <p class="text-detail">
                            二期展望：因为作者主要从事Java后端，所以前端部分基本不会有太大的变动，后端架构会在闲暇之时将其
                            由SSM升级为Spring Cloud，并引入目前比较主流一些其他技术，如docker+rancher、rabbitmq等
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <%= require('html-loader!./layout/footer.html') %>
    </body>
</html>